<div class="app-component">
    <h1>Angular</h1>
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
    
    
    <h1>Text Input</h1>
    <p>Input text and submit</p>
    <input type="text" name="textInput" id="inputid" [(ngModel)]="textInput">
    <button (click)="update()">Submit</button>
    <h3>Vanilla JS</h3>
    <p id="result"></p>
    <h3>Angular</h3>
    <p>{{ output || 'Nothing!' }}</p>
    <h3>ngFor Practice: Output should go here!</h3>
    <span>The value is {{ angValue > 10 && 'more' || 'less' }} than 10</span>
    
    <!-- <ul>
        <li *ngFor="let jacquestacos of personArr">
            <img src="{{ jacquestacos.img }}" alt="{{ jacquestacos.alt }}">
            <h3>{{jacquestacos.title}}</h3>
            <p>{{jacquestacos.cost | currency:'EUR'}}</p>
            <p>{{jacquestacos.desc | uppercase }}</p>
        </li>
    </ul> -->
    

</div>
